@font-face {
    font-family: ADAM;
    src: url(../../fonts/ADAM.otf);
}

.section-header {
    font-family: ADAM, Roboto, "Helvetica Neue", sans-serif;
    font-size: 40px;
    color: rgb(252, 70, 70);
    text-shadow: rgb(22, 22, 56) 3px 3px 0;
    padding-bottom: 10px;
    letter-spacing: 8px;
    text-align: center;
}

.link {
    color: rgb(252, 70, 70);
    text-decoration: none;
}

.link:hover {
    color: rgb(252, 120, 120);
}

.about-stc {
    text-align: center;
    width: 840px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 25px 525px;
}

.about-thm {
    text-align: center;
    width: 840px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 25px 535px;
}

h1 {
    font-family: ADAM, Roboto, "Helvetica Neue", sans-serif;
    text-align: center;
    color: rgb(252, 70, 70);
    text-shadow: rgb(22, 22, 56) 3px 3px 0;
}

<<<<<<< HEAD
.schedule-frame {
    height: 680px;
    width: 450px;
    overflow: hidden;
=======
.row-header * {
    font-family: ADAM, Roboto, "Helvetica Neue", sans-serif;
    font-size: 32px;
    color: rgb(252, 70, 70);
    text-shadow: rgb(22, 22, 56) 3px 3px 0;
    padding-bottom: 10px;
    letter-spacing: 8px;
    padding-top: 10px;
>>>>>>> master
}

.schedule {
    width: 450px;
    height: 680px;
    position: absolute;
    right: 60px;
    top: 90px;
}

.twitch {
    width: 475px;
    position: absolute;
    top: 135px;
    left: 25px;
}

#save-children {
    position: absolute;
    left: 120px;
    top: 460px;
}