@font-face {
    font-family: ADAM;
    src: url(../../fonts/ADAM.otf);
}

.section-header {
    font-family: ADAM, Roboto, "Helvetica Neue", sans-serif;
    font-size: 40px;
    color: rgb(252, 70, 70);
    text-shadow: rgb(22, 22, 56) 3px 3px 0;
    padding-bottom: 10px;
    letter-spacing: 8px;
    text-align: center;
}

.link {
    color: rgb(252, 70, 70);
    text-decoration: none;
}

.link:hover {
    color: rgb(252, 120, 120);
}

.about-stc {
    text-align: center;
    width: 840px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 25px 28%;
}

.about-thm {
    text-align: center;
    width: 840px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 25px 28%;
}

h1 {
    font-family: ADAM, Roboto, "Helvetica Neue", sans-serif;
    text-align: center;
    color: rgb(252, 70, 70);
    text-shadow: rgb(22, 22, 56) 3px 3px 0;
}

.schedule-frame {
    height: 680px;
    width: 450px;
    overflow: hidden;
}

.schedule {
    width: 450px;
    height: 680px;
    float: right;
    margin-right: 60px;
    margin-top: 60px;
}

.twitch {
    width: 475px;
    position: absolute;
    top: 135px;
    left: 25px;
}
.twitch-player {
    width: 475px;
    height: 300px;
}

#save-children {
    position: absolute;
    left: 120px;
    top: 460px;
}

@media (max-width: 1730px) {
    .about-stc {
        margin-left: 26%;
    }
    .about-thm {
        margin-left: 26%;
    }
    .schedule {
        height: 725px;
        width: 375px;
    }
    .schedule-frame {
        height: 725px;
        width: 375px;
    }
    .twitch-player {
        width: 400px;
        height: 250px;
    }
    .twitch {
        width: 400px;
        height: 250px;
    }
    #save-children {
        left: 75px;
    }
}
@media (max-width: 1600px) {
    .twitch-player {
        width: 375px;
        height: 200px;
    }
    .twitch {
        width: 375px;
        height: 200px;
    }
    #save-children {
        top: 400px;
        left: 65px;
    }
}