<div class="flex">
  <div class="schedule">
      <!--<iframe src="https://horaro.org/themeathon/pre2018" class="schedule-frame"-->
              <!--frameborder="0" marginheight="0" marginwidth="0">-->
      <!--</iframe>-->
    <table>
      <tr class="date">
        <td></td>
        <td style="font-family: ADAM, Roboto, 'Helvetica Neue', sans-serif; color:  rgb(22, 22, 56)">Saturday April 7 2018</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="categories">
        <td>Time (UTC + 1)</td>
        <td>Game</td>
        <td>Estimate</td>
        <td>Category</td>
        <td>Player(s)</td>
        <td>Platform</td>
      </tr>
      <tr>
        <td>18:00</td>
        <td><a href="http://speedrun.com/tssm">The Spongebob Squarepants Movie</a></td>
        <td>01:45:00:</td>
        <td>Any%</td>
        <td><a href="http://twitch.tv/protoman_12">protoman_12</a></td>
        <td>Xbox</td>
      </tr>
      <tr>
        <td>19:55</td>
        <td><a href="http://speedrun.com/sasst">SAS: Secure Tomorrow</a></td>
        <td>01:00:00</td>
        <td>Any%</td>
        <td><a href="http://twitch.tv/Lonnesurvivor">Lonnesurvivor</a>, <a href="http://twitch.tv/rythin_sr">Rythin_SR</a></td>
        <td>PC</td>
      </tr>
      <tr>
        <td>21:05</td>
        <td><a href="http://speedrun.com/Hotline_Miami">Hotline Miami</a></td>
        <td>00:30:00</td>
        <td>NG+ All Levels</td>
        <td><a href="http://twitch.tv/buffet_time">Buffet Time</a></td>
        <td>PC</td>
      </tr>
      <tr>
        <td>21:45</td>
        <td><a href="http://speedrun.com/dmc5">DmC: Devil May Cry</a></td>
        <td>02:15:00</td>
        <td>Dante NG Nephilim Glitchless</td>
        <td><a href="http://twitch.tv/merkazium">Merkazium</a></td>
        <td>PC</td>
      </tr>
      <tr class="date">
        <td></td>
        <td style="font-family: ADAM, Roboto, 'Helvetica Neue', sans-serif; color:  rgb(22, 22, 56)">Sunday April 8 2018</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>00:10</td>
        <td><a href="http://speedrun.com/llr">LEGO: Lord of the Rings</a></td>
        <td>02:40:00</td>
        <td>Any%</td>
        <td><a href="http://twitch.tv/TSGWhatever">TSGWhatever</a></td>
        <td>PC</td>
      </tr>
      <tr>
        <td>03:00</td>
        <td><a href="http://speedrun.com/Contra_Hard_Corps">Contra Hard Corps</a></td>
        <td>00:10:00</td>
        <td>Hidden Ending</td>
        <td><a href="http://twitch.tv/katzsrl">KatzSRL</a></td>
        <td>Genesis</td>
      </tr>
      <tr>
        <td>03:20</td>
        <td><a href="http://speedrun.com/spyro3">Spyro: Year of the Dragon</a></td>
        <td>01:00:00</td>
        <td>100 Egg</td>
        <td><a href="http://twitch.tv/wedc517">wedc517</a></td>
        <td>PS2</td>
      </tr>
      <tr>
        <td>04:30</td>
        <td><a href="http://speedrun.com/skate1">skate.</a></td>
        <td>01:25:00</td>
        <td>Career 100%</td>
        <td><a href="http://twitch.tv/m_tt">M_tt</a></td>
        <td>X360</td>
      </tr>
      <tr>
        <td>06:05</td>
        <td><a href="http://speedrun.com/shovelknight">Shovel Knight</a></td>
        <td>00:55:00</td>
        <td>God Mode Specter Knight</td>
        <td><a href="http://twitch.tv/veli0r">Veli0r</a></td>
        <td>PC</td>
      </tr>
      <tr>
        <td>07:10</td>
        <td><a href="http://speedrun.com/toystory3">Toy Story 3: The Video Game</a></td>
        <td>01:30:00</td>
        <td>Story Mode Any%</td>
        <td><a href="http://twitch.tv/veli0r">Veli0r</a></td>
        <td>DS</td>
      </tr>
      <tr>
        <td>08:50</td>
        <td><a href="http://speedrun.com/Ordinance">MegaZeux</a></td>
        <td>01:45:00</td>
        <td>Any% Full Series</td>
        <td><a href="http://twitch.tv/iamgreaser">iamgreaser</a></td>
        <td>Linux</td>
      </tr>
      <tr>
        <td>10:45</td>
        <td><a href="http://speedrun.com/sitandspin2">Sit and Spin Adventure 2
          Truth//Reason Second Final</a></td>
        <td>00:15:00</td>
        <td>Any%</td>
        <td><a href="http://twitch.tv/yoshdudessb">YoshdudeSSB</a></td>
        <td>PC</td>
      </tr>
      <tr>
        <td>11:10</td>
        <td><a href="http://speedrun.com/btd">Burnout Dominator</a></td>
        <td>01:10:00</td>
        <td>Any% NG+</td>
        <td><a href="http://twitch.tv/realmcopier">RealmCopier</a></td>
        <td>PS2</td>
      </tr>
      <tr>
        <td>12:30</td>
        <td><a href="http://speedrun.com/mw2">Call of Duty: Modern Warfare 2</a></td>
        <td>01:45:00</td>
        <td>Any%</td>
        <td><a href="http://twitch.tv/the__vk">The__VK</a></td>
        <td>PC</td>
      </tr>
      <tr>
        <td>14:25</td>
        <td><a href="http://speedrun.com/yono">Yono and the Celestial Elephants</a></td>
        <td>00:20:00</td>
        <td>No Early Queen's Dungeon</td>
        <td><a href="http://twitch.tv/isBullets">isBullets</a></td>
        <td>PC</td>
      </tr>
      <tr>
        <td>14:55</td>
        <td><a href="http://speedrun.com/hwvx">Hot Wheels: Velocity X</a></td>
        <td>00:50:00</td>
        <td>Any%</td>
        <td><a href="http://twitch.tv/qaotik">Qaotik</a></td>
        <td>PC</td>
      </tr>
      <tr>
        <td>15:55</td>
        <td><a href="http://speedrun.com/driver_2">Driver 2</a></td>
        <td>00:30:00</td>
        <td>Complete Chicago</td>
        <td><a href="http://twitch.tv/thebpg13">thebpg13</a></td>
        <td>PS1</td>
      </tr>
      <tr>
        <td>16:35</td>
        <td><a href="http://speedrun.com/shar">The Simpsons: Hit and Run</a></td>
        <td>02:00:00</td>
        <td>All Story Missions</td>
        <td><a href="http://twitch.tv/projectop">ProjectOP</a>, <a href="http://twitch.tv/sadlybadlyy">Sadlybadlyy</a>,
          <a href="http://twitch.tv/pd1d">PD1D</a>, <a href="http://twitch.tv/la_lapin">La_Lapin</a></td>
        <td>PC</td>
      </tr>
    </table>
  </div>

  <div class="twitch">
      <iframe class="twitch-player" src="https://player.twitch.tv/?channel=themeathon" frameborder="0"
              allowfullscreen="true" scrolling="no">
      </iframe>
  </div>

  <div class="children-pic">
    <img id="save-children" src="../../assets/save-the-chirld.png" style="width: 300px; height: 250px;">
  </div>

  <div class="about-thm">
      <h1>WHO ARE WE?</h1>
      <p>We are Themeathon, a speedrunning marathon for charity founded by Lordmau5 and Jugachi in 2016. <br> <br>

      Currently we are streaming the pre-marathon, a 24 hour online marathon raising money for Save the Chlidren. <br> <br>

      The official marathon will be themed; guiding the breadth of content provided to you by our lovely hosts.
      If you have a run, feel welcome to submit for the official marathon! Don't worry about conforming to the theme,
      it's not required for any runs. <br> <br>

      The theme and dates for themeathon 2018 will be announced after the premarathon, so stay tuned!</p>
  </div>
  <div class="about-stc">
      <h1>Save the Children</h1>
      <a target="_blank" href="http://www.savethechildren.org" class="link">
          Save the Children
      </a>
      <p>is a global, nonprofit organization serving children in 120 countries around the world. <br><br>

      We give children a healthy start, the opportunity to learn and protection from harm. We aim to inspire
      breakthroughs in the way the world treats children, and to achieve immediate and lasting change in childrens
      lives by improving their health, education and economic opportunities. Save the Children invests in childhood -
      everyday, in times of crisis and for our future. In times of acute crisis, we mobilize rapid assistance to help
      children recover from the effects of war, conflict and natural disasters. <br><br>

      Recognized for our commitment to accountability, innovation and collaboration,
      our work takes us into the heart of communities, where we help children and families
      help themselves. We work with other organizations, governments, non-profits and a variety of local
      partners while maintaining our own independence without political agenda or religious orientation. <br><br>

      We are one of the most trusted, efficient and effective charitable organizations in the world.
        We have received Charity Navigator's* highest 4-star rating for 14 years in a row. <br><br>

      <a target="_blank" href="https://www.charitynavigator.org/index.cfm?bay=search.summary&orgid=4438#.VxUsKPkrKUk" class="link" style="margin-left: 0; margin-right: 0;">
          Save The Children's annual report from 2014.
      </a>
        If you wish to learn more about their work and what <br> they do in the field. </p>
  </div>
  <br>
</div>
