<div class="about-stc">
    Save the children is a great charity...... (add more here)
</div>
<br>

<div class="staff-section">
    <table class="staff">
        <tr class="row-header">
            <td>Founders</td>
        </tr>
        <tr class="founders">
            <td><img src="../../images/jugachi.png"></td>
            <td><img src="../../images/lordmau5.png"></td>
        </tr>
        <tr class="caption">
            <td>Jugachi</td>
            <td>Lordmau5</td>
        </tr>
        <tr class="row-header">
            <td>Developers</td>
        </tr>
        <tr class="developers">
            <td><img src="../../images/nic.png"></td>
            <td><img src="../../images/buffet.png"></td>
        </tr>
        <tr class="caption">
            <td>nichow</td>
            <td>Daniel "Buffet Time" Turcich</td>
        </tr>
        <tr class="other">
            <td><img src="../../images/kona.png"></td>
            <td><img src="../../images/dqfan.png"></td>
            <td><img src="../../images/speedy.png"></td>
        </tr>
        <tr class="caption">
            <td>Konasumi</td>
            <td>DQFan</td>
            <td>Speedy</td>
        </tr>
    </table>
</div>