<div [class.app-dark-theme]="true">
    <mat-sidenav-container fullscreen class="sidenav-container">
        <mat-toolbar class="toolbar">
            <div class="social-media" id="discord" (click)="navigateToDiscord()">
                <img src="../../images/discord.png">
            </div>

            <div class="social-media" (click)="navigateToTwitch()">
                <img src="../../images/twitch.png">
            </div>

            <div class="social-media"(click)="navigateToTwitter()">
                <img src="../../images/twitter.png">
            </div>

            <div class="social-media" (click)="navigateToYoutube()">
                <img src="../../images/youtube.png">
            </div>

            <button mat-raised-button color="accent" (click)="toAbout()" *ngIf="stream">
                About
            </button>

            <button mat-raised-button color="accent" (click)="toStream()" *ngIf="about">
                Home
            </button>
        </mat-toolbar>

        <!-- switch between routes here -->
        <stream-component *ngIf="stream"></stream-component>
        <about-component *ngIf="about"></about-component>
    </mat-sidenav-container>
</div>