@font-face {
  font-family: SAMURAI;
  src: url(../../assets/samurai.ttf);
}

.toolbar {
  top: 0;
	position: sticky;
  position: -webkit-sticky;
	z-index: 50;
  width: 100%;
}

.social-media {
  padding-top: 6px;
  margin: 0 25px;
  cursor: pointer;
}

.social-media img {
  fill: #ffffff;
  width: 32px;
  height: 32px;
}

.social-media-text {
  float: right;
  margin-left: 6px;
}

.themeathon-name {
  width: 100%;
}

.themeathon-name span {
  font-family: SAMURAI, Roboto, "Helvetica Neue", sans-serif;
  font-size: 32px;
  color: #fff;
  letter-spacing: 10px;
  display: block;
  margin: auto 26%;
}

@media (max-width: 1024px) {
  .social-media {
    margin: 0 15px;
  }
}

@media (max-width: 832px) {
  .social-media {
    display: none;
  }
}
