@font-face {
	font-family: SAMURAI;
	src: url(../../assets/samurai.ttf);
  }
  
  .sidenav-container {
		width: 100%;
		height: 100%;
		/*background: repeat-x -30px 225px;*/
		background-image: url(../../assets/japan.jpg);
		background-size: 100%;
		background-color: #000;
		background-repeat: no-repeat;
	}
  
  .toolbar {
	top: 0;
	  position: sticky;
	position: -webkit-sticky;
	  z-index: 50;
	width: 100%;
  }
  
  .social-media {
	padding-top: 6px;
	margin: 0 25px;
	cursor: pointer;
  }
  
  .social-media img {
	fill: #fff;
	width: 32px;
	height: 32px;
  }
  
  .social-media-text {
	float: right;
	margin-left: 6px;
  }
  
  .themeathon-name {
	width: 100%;
  }
  
  .themeathon-name span {
	font-family: SAMURAI, Roboto, "Helvetica Neue", sans-serif;
	font-size: 32px;
	color: #fff;
	letter-spacing: 10px;
	display: block;
	margin: auto 26%;
  }
  
  @media (max-width: 1425px) {
	.themeathon-name {
	  margin: 0;
	}
  }
  
  @media (max-width: 1318px) {
	.sidenav-container {
	  background-size: 120%;
	}
  }
  
  @media (max-width: 1024px) {
	.social-media {
	  margin: 0 15px;
	}
	.sidenav-container {
	  background-size: 150%;
	}
  }
  
  @media (max-width: 750px) {
	  .social-media {
		margin: 0 19px;
	  }
	  .sidenav-container {
		background-size: 500%;
	  }
  }

  @media (max-width: 680px) {
	.themeathon-name {
		display: none;
	}
  }
  
  @media (max-width: 375px) {
	.social-media {
	  margin: 0 20px;
	}
  }