/* Toollbar css */
.sidenav-container {
  height: 100%;
  background-image: url("../../images/background.jpg");
}

.toolbar {
  background-color: rgba(0, 0, 0, 0.5);
}

.social-media {
  padding-top: 6px;
  margin-right: 22px;
  cursor: pointer;
}

.social-media-text {
  float: right;
  margin-left: 6px;
}

@media (max-width: 533px) {
  /deep/.social-media-text {
      display: none!important;
  }
}

/* content css */

.about-card {
	text-align: center;
}

.about-header {
}

.about-content { 
  font-size: large;
}

.submit-button {
  font-weight: bold;
  font-size: large;
}

.link-text {
	color: rgb(255, 0, 179);
  font-weight: bold;
  font-size: large;
}