.main-card {
	margin-top: 45px;
	margin-left: 20%;
	margin-right: 20%;
	padding-right: 75px;
	padding-left: 75px;
}

.main-form {
	width: 100%;
}

.textarea {
	padding-bottom: 18px;
	width: 100%;
}

.input {
	padding-bottom: 18px;
	width: 100%;
}

.submit-div {
	text-align: center;
}

.submit-button {
	width: 150px;
}

.title {
	text-align: center;
}

@media (max-width: 1200px) {
	.main-card {
		margin-left: 10%;
		margin-right: 10%;
		padding-right: 60px;
		padding-left: 60px;
	}
}