.main-card {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20%;
	margin-right: 20%;
	padding-right: 75px;
	padding-left: 75px;
}

.title {
	text-align: center;
}

.email-button {
	margin-top: 14px;
}

.mail-to {
	color: red;
	text-decoration: none;
}

h2 {
	color: red;
}

@media (max-width: 1200px) {
	.main-card {
		margin-left: 10%;
		margin-right: 10%;
		padding-right: 60px;
		padding-left: 60px;
	}
}
