<mat-card class="main-card">
	<h1 class="title">THIRD PARTY EVENTS APPLICATION</h1>

	<h2>What we offer!</h2>

	<ul>
		<li>An already existing community that is tolerant to various games and events.</li>
		<li>help in organizing your events to make the most of them!</li>
		<li>Experienced Staff and Moderation team!</li>
		<li>Experience interacting with Twitch staff for possible front page promotion. (This requires many months in advance notice)</li>
	</ul>

	<h2>Our requirements</h2>

	Of course we have strict requirements when it comes to 3rd party events.
	But if you have a really good and/or unique idea we will lower them a bit.
	<br><br>

	Requirements:
	<br>

	<ul>
		<li>Send us a detailed plan of your event</li>
		<li>What game/ games will be played?</li>
		<li>How long is the event?</li>
		<li>Will the event have a prize pool? How much or what will be given away?</li>
		<li>Are you providing a Team? (GFX, Streamers, Commentators, Moderators)</li>
		<li>Are you experienced with organizing events?</li>
		<li>Tell us something about yourself.</li>
		<li>Your expectations from us.</li>
	</ul>
	<br>

	After you have thought about everything and understand the requirements/ guidelines, feel free to submit your event to us!
	<br>

	<h2>Where and how can I submit my event?</h2>
	Send us an Email here - <a href="mailto:themeathon@gmail.com" class="mail-to">themeathon@gmail.com</a><br>
	We will get in contact within approximately 2-5 business days for futher instructions.
	<br>

	<h2>What timeslot will my event be in?</h2>
	We try to find the best possible timeslot for your event.
	But keep in mind that we are just a small team and we can't interfere with already planned events or our own events.
	After we find a possible time window we will get in contact with you and your team.
	<br>
</mat-card>