<mat-card class="main-card">
	<h1 class="title">Welcome to our rules and guidelines</h1>

	The following document will introduce you into a guide on how to broadcast your content to our event. 
	We also provide you with helpful Information and important rules you <strong>have</strong> to follow.
	<br><br>

	First of all we want to thank you for submitting your content to our event. 
	With your help we will have a huge success with the fundraising for the <strong>Save the Children</strong> foundation.
	<br><br>

	Before you can broadcast to <strong>Themeathon</strong> we have to introduce you to our rules in regards to the event. 
	Please keep in mind that you are broadcasting to collect money for a charity fundraising.
	<br><br>

	<strong>Rules:</strong>
	<br>

	Different from most charity events we are a 18+ marathon.
	<br>

	That means you can swear of course but please keep it minimal and don’t be to extreme with your sense of humour.
	<br>

	Because we collect money for children you shouldn’t say something against children e.g. ‘I like to kill children / kids’.
	<br>

	If you break this rule, we will end your run immediately and you will be banned from this and all future events. We don’t tolerate racism or sexual offense.
	<br>

	If your language is too heavy for our event we will send out a warning towards you. You will get up to 2 warnings until we will end your run.
	<br>

	Keep in mind that we want to help an awesome foundation and don’t want to ruin all the fun for everyone.
	<br>

	We also allow memes during the runs, because memes are a big and important thing in the internet, but keep them within our rules.
	<br>
	<br>
	<br>
	<br>

	<h1 class="title">How to broadcast</h1>
	Now we want to show you how you can actually broadcast to <strong>Themeathon</strong>.
	<br>

	Before you start broadcasting to <strong>Themeathon</strong>, you <strong>have</strong> to 
	use <a target="_blank" href="https://obsproject.com/download" class="link">OBS-Studio</a>. (latest version)
	This guide is for <strong>OBS-Studio only</strong>. If you use a different streaming software we won’t give you any support!
	Let us begin with the step-for-step guide. (Click the screenshots for a visual guide)
	<br><br>

	<strong>Step 1:</strong>
	<br>

	Download and install <a target="_blank" href="https://obsproject.com/download" class="link">OBS-Studio</a>.
	<br><br>

	<strong>Step 2:</strong>
	<br>

	Open <strong>OBS-Studio</strong> and click on <strong>File</strong> --> <strong>Settings</strong>. 
	<br><br>

  	<p><img class="obs-img" id="obs-1" src="../../assets/obs-1.png"></p>
	<br>

	Now go to the tab labeled "Stream".
	Next change the Stream type to "Custom streaming service" and set the URL to "the given URL from a Staff" and paste the stream key in that
	a "Staff Member" sent you.
	<br><br>

	<img class="obs-img" id="obs-2" src="../../assets/obs-2.png">
	<br><br>

	<strong>Step 3:</strong>
	<br>

	Now use your standard settings you would use for your personal stream.
	For the best viewing experience on Twitch we would recommend 1080p, 60fps and 6000 kbit/s. You don’t have to fulfill these recommendations.
	<br><br>

	<img class="obs-img" id="obs-3" src="../../assets/obs-3.png">
	<br><br>

	<strong>Step 4:</strong>
	<br>

	Please only stream your game and audio.
	<br>

	<strong>Audio includes</strong>: Ingame sound, microphone and your co-commentator if you have one.
	Please balance everything very well.
	<br>
	On special occasions we also allow a webcam e.g. “One Handed Speedrun” or “Special Controller”. 
	Otherwise we don’t allow using a webcam. (Please ask a staff member for permission)
	<br><br>

	<strong>Step 5:</strong>
	<br>

	Join our <a target="_blank" href="https://discord.themeathon.com/" class="link">Discord</a> and wait in the “speedrun-waiting-room” voice channel. You should join it roughly 20 minutes before your run starts. 
	Through that we can ask for feedback and answer general questions and of course provide that you are ready and prepared for your run.
	<br><br>

	<strong>Step 6:</strong>
	<br>

	Start your run and have fun!
	<br>

	Thank you very much for reading this document, and on the behalf of the Themeathon team, we want to thank you for providing your content to the event!
	<br><br>

	Sincerely,
	<br>

	The <strong>THEMEATHON TEAM</strong>
</mat-card>