.main-card {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20%;
	margin-right: 20%;
	padding-right: 75px;
	padding-left: 75px;
}
.link {
    color: #FC4646;
    text-decoration: none;
  }

.title { 
	text-align: center;
}

@media (max-width: 1200px) {
	.main-card {
		margin-left: 10%;
		margin-right: 10%;
		padding-right: 60px;
		padding-left: 60px;
	}
}

@media (max-width: 550px) {
	.obs-img {
		height: 180px;
		width: 250px;
	}
}

