@font-face {
	font-family: ADAM;
	src: url(../../fonts/ADAM.otf);
}
.main-container {
	padding-top:  2%;
	overflow: hidden;
}
.schedule-frame {
	height: 800px;
	width: 650px;
	margin-top: -50px;
	overflow: hidden;
}
.twitch {
	margin-top: 3%;
	margin-left: 18%;
	margin-right: 50px;
	float: left;
}
#themeathon {
	float: left;
	margin-left: 15%;
	margin-right: -25px;
}

.header-wrapper {
	margin-bottom: -25px;
}

#header {
	font-family: ADAM, Roboto, "Helvetica Neue", sans-serif;
	color: rgb(252, 70, 70);
	text-shadow: rgb(22, 22, 56) 3px 3px 0;
	letter-spacing: 3px;
	font-size: 70px;
}

/*@media (max-width: 1626px) {*/
	/*.schedule-frame*/
/*}*/