<div class="main-container">
	<img id="themeathon" src="/images/themeathon.png" style="height: 150px; width: 150px;">
	<div class="header-wrapper">
		<h1 id="header">HEMEATHON</h1>
	</div>
	<div class="twitch">
		<iframe class="twitch-player" src="https://player.twitch.tv/?channel=themeathon" frameborder="0"
				allowfullscreen="true" scrolling="no" height="378" width="620">
		</iframe>
	</div>
	<div class="schedule">
		<iframe src="https://horaro.org/themeathon/pre2018" class="schedule-frame"
				frameborder="0" marginheight="0" marginwidth="0" id="twitch-frame">
		</iframe>
	</div>
</div>