@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette( $mat-grey, 900 );
$accent:  mat-palette( $mat-pink, 700 );
$dark-theme:   mat-dark-theme( $primary, $accent );

.app-dark-theme {
  @include angular-material-theme( $dark-theme );
}

@mixin html-theme($theme) {
  & {
    $background: map-get( $theme, background );
    $foreground: map-get( $theme, foreground );

    background-color: mat-color( $background, background );
    color: mat-color( $foreground, text );
  }
}